@model UdeCamp.Models.student

<input type="hidden" id="message" value="@ViewBag.mensaje">

@{

    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "UdeCamp-Inicio";

    if (ViewBag.mensaje == "Registrado Exitosamente")
    {
        <script>
            var mensa = document.getElementById('message').value;

            Swal.fire({
                icon: "success",
                title: mensa,
                showConfirmButton: true,
                confirmButtonText: "Cerrar"
            });
        </script>
    }
    else if (ViewBag.mensaje == "La contraseña o el código son incorrectos")
    {
        <script>
            var mensa = document.getElementById('message').value;

            Swal.fire({
                icon: "error",
                title: mensa,
                showConfirmButton: true,
                confirmButtonText: "Cerrar"
            });
        </script>
    }
    else if (ViewBag.mensaje == "Debe llenar todos los campos")
    {
        <script>
            var mensa = document.getElementById('message').value;

            Swal.fire({
                icon: "error",
                title: mensa,
                showConfirmButton: true,
                confirmButtonText: "Cerrar"
            });
        </script>
    }
}

<div class="Container_Sesion">
    <div class="Info">
        <h2>Bienvenido a UdeCamp</h2><br />
        <h2>Iniciar Sesión</h2><br />

        @using (Html.BeginForm("Login", "Usuario", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <p class="control-label col-md-2">Código de estudiante:</p>
                    <div class="col-md-10">
                        <input class="form-control" name="cod_st" type="number" required/>
                    </div>
                </div>

                <div class="form-group">
                   <p class="control-label col-md-2">Contraseña:</p>
                    <div class="col-md-10">
                        <input class="form-control" name="pass_st" type="password" required/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Iniciar Sesión" class="boton" />
                    </div>
                </div>
            </div>


            <!--Registrate-->

            <p id="registrados">
                ¿Aun no tienes una cuenta?  @Html.ActionLink("Registrate!", "Registrar", null, new { @class = "link" })
            </p>

        }
    </div>

    <img id="logo" src="~/Images/Logo.png">

</div>